<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automated Briefing</title>
    <style>
        #articles-container div {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        #articles-container p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="send-request-complete">
        <h4>Create Articles Briefing</h4>
        <span id="flag7"></span>
        <button class="send-btn-complete">Send Request</button>
        <div class="result-div-complete"></div>
        <a href="/run">Go To Page</a>
    </div>
    <div class="send-request-completevp">
        <h4>Create Score Briefing</h4>
        <span id="flag8"></span>
        <button class="send-btn-completevp">Send Request</button>
        <div class="result-div-completevp"></div>
        <a href="/chart/draw">Go To Page</a>
    </div>
    <div class="vp-list">
        <h4>Briefing List</h4>
        <div class="result-div-vplist">
            <ul>
                <% vpList.forEach(vp => { %>
                    <li>
                        <h3><%= vp.title %> (Viewpoint ID: <%= vp.id %>)</h3>
                        <p>Related Analyses:</p>
                        <ul>
                            <% vp.Analyses.forEach(analysis => { %>
                                <li>Analysis ID: <%= analysis.id %></li>
                            <% }) %>
                            <% if (vp.Analyses.length === 0) { %>
                                <li>No related analyses.</li>
                            <% } %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

    document.querySelector('.send-btn-complete').addEventListener('click', function() {
        document.querySelector('#flag7').textContent = "sent";
        axios.get('/create/complete')
            .then((response) => {
                console.log("success: ", response);
            })
            .catch(err => {
                console.error("failure ", err)
            })
    });

    document.querySelector('.send-btn-completevp').addEventListener('click', function() {
        document.querySelector('#flag8').textContent = "sent";
        axios.get('/chart/price-analysis')
            .then(response => {
                console.log("success: ", response);
            })
            .catch(err => {
                console.error("failure: ", err);
            })
    });


</script>
</body>
</html>