<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortune Telling ChatDoge</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="voice-container">
voice
</div>
<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //    const playlist = [
    //        { mp3: 'news1.mp3', img: 'image1.jpg'},
    //        { mp3: 'news2.mp3', img: 'image2.jpg'},
    //        { mp3: 'news3.mp3', img: 'image3.jpg'},
    //        // Add more objects as needed
    //    ];
    //
    //    let currentIndex = 0;
    //
    //    const audioPlayer = document.getElementById('newsAudio');
    //    const imageDisplay = document.getElementById('articleImage');
    //
    //    // Function to load and play a given audio file and image
    //    function loadAndPlay(index) {
    //        if (index < playlist.length) {
    //            audioPlayer.src = playlist[index].mp3;
    //            audioPlayer.play();
    //            imageDisplay.src = playlist[index].img;
    //            currentIndex = index;
    //        }
    //    }
    //
    //    // Set up the audio player to load the next audio file when one ends
    //    audioPlayer.addEventListener('ended', function() {
    //       loadAndPlay(currentIndex + 1);
    //    });
    //
    //    loadAndPlay(0);
    //
    //
    // });
</script>
</body>
</html>

